<p-button [icon]="viewType === 'card' ? 'pi pi-table' : 'pi pi-list'" label="Change View" [link]="true" (click)="toggleView()" />

<div class="generic-list-container">
  <dc-filter-bar (onNew)="onNew()"></dc-filter-bar>

  @if (viewType === 'card') {
  <div class="generic-list-content">
    @for (generic of generics; track generic.id) {
    <div class="card-source">
      <div style="position: absolute; top: 4px; right: 4px; z-index: 1000">
        <p-speeddial
          [model]="getCustomButtons(generic)"
          [radius]="70"
          type="quarter-circle"
          direction="down-left"
          [buttonProps]="{ severity: 'primary', rounded: true, outlined: true }" />
      </div>
      <p-card [header]="generic.name">
        <p class="m-0">{{ generic.description | slice : 0 : 250 }}...</p>
        <span>{{ generic.updatedAt | date : 'dd/MM/yyyy HH:mm' }}</span>
      </p-card>
    </div>
    } @if (generics.length === 0) {
    <p-card>
      <p>No generics found</p>
    </p-card>
    }
  </div>
  } @else if ( viewType == 'table'){

  <p-table [value]="generics" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template #header>
      <tr>
        <th style="width: 25%">Name</th>
        <th style="width: 25%">Description</th>
        <th style="width: 25%">Type</th>
        <th style="width: 25%">Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.type }}</td>
        <td>
          <div style="display: flex; gap: 5px">
            <p-button icon="pi pi-pencil" severity="secondary" />
            <p-button icon="pi pi-trash" severity="danger" />
            <p-button icon="pi pi-eye" severity="primary" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  }

  <div class="paginator-container">
    <p-paginator
      currentPageReportTemplate="{{ totalRecords }} conversations"
      [showCurrentPageReport]="true"
      (onPageChange)="onPageChange($event)"
      [first]="paginatorFirst"
      [rows]="paginatorRows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[10, 20, 30]">
    </p-paginator>
  </div>
</div>
