<div class="term">
  <h4>Términos y condiciones Polilan</h4>

  <h5>General</h5>
  <p>
    El sitio web y la aplicación móvil de Polilan son operados por Adamo Figueroa Pérez. El acceso y uso del servicio estará sujeto a los
    siguientes Términos y Condiciones que a continuación se expongan en este apartado. Al acceder o utilizar cualquier parte de nuestro servicio,
    usted declara que ha leído, entendido y aceptado nuestros Términos y Condiciones, incluidas futuras modificaciones. Polilan puede actualizar,
    modificar o cambiar estos términos y condiciones., si hacemos esto, se publicará un aviso de que se ha realizado cambios a este apartado en
    el sitio web y app móvil durante al menos 5 días después de que se publiquen. Si no acepta cumplir con estos Términos y condiciones, no está
    autorizado a usar, acceder o participar en el Servicio.
  </p>

  <h5>Registro</h5>

  <p>
    Al aceptar nuestros términos y condiciones, acepta:

    <li>Proporcionar la información solicitada para registrarse.</li>
    <li>Mantener confidencia de su contraseña.</li>
    <li>Mantener actualizada la información relacionada con la seguridad de su cuenta.</li>
    <li>Ser responsable con el uso de su cuenta y de cualquier acción que tenga lugar a través de ella</li>
    <li>Aceptar los errores que pueda tener la aplicación y ocasionarle a usted</li>
    <li>Mantener total discresión si llegase a consumir contenido inapropiado de cualquier indole</li>
  </p>

  <h5>Descripción del sitio web y el servicio</h5>
  <p>Polilan permite al usuario acceder y utilizar el servicio educativo que incluye el aprendizaje y la práctica del idioma.</p>

  <h5>Cambios y actualizaciones del servicio</h5>

  <p>
    Polilan, tiene pleno derecho y criterio de realizar modificaciones en los contenidos que se ofrecen, ya sean temporales o permanentes, en
    cualquier momento. Por lo tanto, no es posible garantizar la disponibilidad durante el tiempo de actualización.
  </p>

  <h5>Política de Cookies</h5>
  <p>
    Las cookies son elementos de datos que un sitio web de datos puede enviar a su navegador, que tendrán lugar en su disco duro. Cuando una
    cookie se almacena en el disco duro, la próxima vez que usted visite el mismo sitio web, podremos reconocerlo. Estas cookies son esenciales
    para que el sitio web que está visitando, funcione normalmente y son esenciales para la capacidad que Polilan tiene de prestar los servicios
    a los usuarios. Las cookies son utilizadas para permitir su acceso a ciertos recursos en el sitio web y para mostrarle contenido
    personalizado. **Desactivación de cookies** Si no desea aceptar las cookies, no podrá usar el sitio web de Polilan.
  </p>

  <h5>Uso inapropiado</h5>

  <p>
    Se considerará inapropiado las siguientes formas de uso de Polilan:

    <li>
      Contenido difamatorio, abusivo, amenazante, acosador, odioso, ofensivo o infrinja cualquier ley y derechos a terceros. (Incluye derechos de
      autor, marca registrada, privacidad, publicidad u otros derechos personales o de propiedad)
    </li>
    <li>
      A criterio del Polilan, restringirá o impedirá que otra persona use el Servicio o pueda exponer a los usuarios a cualquier daño o
      responsabilidad de cualquier tipo.
    </li>
  </p>

  <h5>Responsabilidad sobre el uso del servicio</h5>
  <p>
    El usuario, asumirá la responsabilidad de todas las acciones que ejecute, en la utilización y consulta de la página web y aplicación móvil,
    mismas que se considera que usted realiza voluntariamente.
    <br />
    No se utilizará ni se permitirá que otros usuarios utilicen esta página web / aplicación móvil o cualquier servicio prestado a través de
    ella, de forma contraria a lo establecido en estos “Términos y Condiciones de Uso”, así como a las disposiciones legales aplicables a los
    servicios que se ofrecen.
    <br />
    Es responsabilidad del usuario, el cuidado y custodia de accesos y contraseñas , para que únicamente sea utilizada para los fines para los
    cuales ha sido diseñada, por lo que cualquier mal uso que se realice en su nombre, se presumirá realizada por usted.
  </p>

  <h5>Privacidad y protección de datos</h5>
  <p>
    El tratamiento de los datos personales se limitará al cumplimiento de la finalidad establecida en el aviso de privacidad de la aplicación y
    se realizará de conformidad con los establecido en la Ley de Protección de Datos Personales en Posesión de Sujetos Obligados de la CDMX. Los
    datos requeridos en la aplicación para el registro de usuarios son:

    <li>Correo electrónico.</li>
    <li>Nombre completo.</li>
    <li>Fecha de nacimiento.</li>
    <li>Género.</li>
    <li>Contraseña.</li>
  </p>

  <h5>Política de propiedad intelectual</h5>

  <p>
    El uso de la aplicación, no convierte a los usuarios en titulares de ninguno de los derechos de la propiedad intelectual del mismo, ni del
    contenido o información a la que accedan. Queda prohibido utilizar el nombre, la marca o el logotipo del mismo. Asimismo, no se podrá
    eliminar, ocultar ni alterar los avisos legales que se muestran en la misma.
  </p>

  <h5>Duración y terminación</h5>
  <p>
    La presentación de los contenidos de Polilan tiene una duración indefinida. Sin perjuicio de lo anterior, Polilan está facultado para dar por
    terminada, suspender o interrumpir en cualquier momento.
  </p>

  <h5>Aceptación de los términos</h5>
  <p>El ingreso y aceptación de usar Polilan implica que ha leído y aceptado los presentes “TÉRMINOS Y CONDICIONES DE USO”.</p>

  <p class="quote">
    <i
      >Como todo desarrollo tecnológico, Polilan es falible y estará en proceso permanente de mejora; por lo que existe la posibilidad, aunque
      remota, de que ocurran fallas técnicas durante su uso; por lo que no se garantiza que la página web / aplicación móvil esté libre de
      errores.
    </i>
  </p>
</div>
