<h3>ApiBalancers Form</h3>

<div class="source-form-card">
  <p-card [header]="entityId() ? 'Edit ApiBalancer' : 'New ApiBalancer'">
    <form [formGroup]="form">
      <div class="form-field">
        <label for="name" class="block">Name</label>
        <input pInputText id="name" type="text" formControlName="name" placeholder="Enter source name" />
      </div>

      <div class="form-field">
        <label for="description" class="block">Description</label>
        <textarea id="description" pTextarea formControlName="description" rows="5" class="w-full" placeholder="Enter source content"></textarea>
      </div>

      <div class="form-field">
        <label for="provider" class="block">Provider</label>
        <input pInputText id="provider" type="text" formControlName="provider" placeholder="Enter provider" />
      </div>

      <div class="form-field">
        <label for="key" class="block">Key</label>
        <input pInputText id="key" type="text" formControlName="key" placeholder="Enter key" />
      </div>

      <div class="form-field">
        <label for="model" class="block">Model</label>
        <input pInputText id="model" type="text" formControlName="model" placeholder="Enter model" />
      </div>

      <div formGroupName="rateLimits">
        <h4>Rate Limits</h4>
        <div class="form-field">
          <label for="rpm" class="block">RPM</label>
          <p-inputNumber inputId="rpm" formControlName="RPM"></p-inputNumber>
        </div>
        <div class="form-field">
          <label for="rpd" class="block">RPD</label>
          <p-inputNumber inputId="rpd" formControlName="RPD"></p-inputNumber>
        </div>
        <div class="form-field">
          <label for="tpm" class="block">TPM</label>
          <p-inputNumber inputId="tpm" formControlName="TPM"></p-inputNumber>
        </div>
      </div>
    </form>

    <div style="display: flex; justify-content: flex-end">
      <p-button (click)="save()" label="Save ApiBalancer" [disabled]="!form.valid" icon="pi pi-check" iconPos="right"></p-button>
    </div>
  </p-card>
</div>
