<div class="term blur">
  <h4>Políticas de privacidad</h4>

  <p>
    En Polilan sabemos que te interesa cuidar tus datos personales, es por esta razón realizamos este apartado para explicarte cómo recopilamos y
    usamos tus datos para darte nuestra mejor versión.
  </p>

  <p>
    Con fundamento del Reglamento General de Protección de Datos (GDPR), hacemos de su conocimiento que Polilan, es responsable de recabar sus
    datos personas, del uso que se le dé a los mismos y de su protección dentro de lo que la técnología permita.
  </p>

  <p>
    Entendamos que los datos personales son la información que permite identificar al usuario, como nombre y apellidos, domicilio, teléfono,
    entre otros. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o
    facturación.
  </p>

  <p>
    Polilan solo intentará recolectar el minimo necesario y será utilizada para: ofrecer una experiencia mejorada durante el uso de la
    aplicación, notificarle sobre nuevos servicios que tengan relación con los ya adquiridos. Comunicarle sobre actualizaciones o cambios en la
    aplicación, elaborar estudios y programas que son necesarios para determinar hábitos de consumo; realizar evaluaciones de nuestro servicio
    con objetivo de mejorar la calidad de los mismos. Evaluar la calidad del servicio que brindamos y en general, para dar cumplimiento a las
    obligaciones que hemos contraído con usted.
  </p>

  <p>
    Para la finalidad antes mencionada, requerimos obtener los siguientes datos personales pero no limitando a estos:

    <li>Correo electrónico.</li>
    <li>Nombre completo.</li>
    <li>Fecha de nacimiento.</li>
    <li>Sexo.</li>
    <li>Nivel de conocimiento en lenguajes</li>
  </p>

  <p>
    Cabe destacar que apiglota puede ligarse con el uso de servicios de terceros, principalmente para aprovechar los datos brindados en otras
    redes para ser identificado. A continuación compartimos los enlaces que se muestran algunos enlaces de privacidad a los servicios de
    terceros:

    <li><a href="https://www.google.com/policies/privacy/">Google</a></li>
    <li><a href="https://www.facebook.com/about/privacy/update/printable">Facebook</a></li>
  </p>

  <h6>Control de su información personal</h6>

  <p>
    Le informamos que usted tiene derecho al Acceso, Rectificación, Cancelación de sus datos personales o a oponerse al tratamiento de los
    mismos, también a revocar el consentimiento que para dicho fin nos haya otorgado.
  </p>

  <p>
    Para realizarlo, puede ir a la sección del <a href="https://apiglota.com/profile"> Perfil</a> de la aplicación, y modificar los datos
    correspondientes o bien eliminarlos completamente utilizando el botón de eliminar cuenta.
  </p>

  <p>
    Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por
    un juez con un orden judicial.
  </p>

  <h6>Cookies</h6>
  <p>
    Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho
    fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web, y también facilita las futuras visitas a una web
    recurrente. Otra función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor
    servicio personalizado de su web. Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia.
    Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. Usted puede
    eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios
    web, estás no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente . Usted
    puede aceptar o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor
    servicio web. También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda
    utilizar algunos de nuestros servicios.
  </p>

  <h6>Enlaces a Terceros</h6>
  <p>
    Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone
    nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad
    ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual
    es recomendable que los consulte para confirmar que usted está de acuerdo con estas.
  </p>

  <p>
    Importante: Cualquier modificación a este Aviso de Privacidad podrá consultarlo en
    <a [routerLink]="['/', routesNames.Main, routesNames.Terms]"> Términos y Condiciones</a>
    <br />
    <b>Fecha de última actualización: 01/01/2024</b>
  </p>
</div>
