// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Dark theme
:root {
  // ...existing code...
  --ion-color-primary: var(--primary-dark-color);
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: var(--p-slate-700);
  --ion-color-primary-tint: var(--p-stone-500);
  --ion-background-color: transparent;
  --ion-text-color: var(--p-slate-800);
  --ion-border-color: #30085b !important;

  --ion-text-color: #30085b ;
  --ion-border-color: #30085b;
  --ion-toolbar-segment-color: #30085b ;
  --ion-toolbar-segment-background: #30085b ;
  --ion-item-border-color: #30085b ;
  --ion-item-color: #30085b ;
  --ion-text-color-rgb: #30085b ;
  --ion-backdrop-color: #30085b ;
}




// Dark theme (using class instead of media query)
:root.ion-palette-dark {
  --primary-dark-color: #74FAC9;  // You can change this hex color

  --ion-text-color: #ffffff;
  --ion-border-color: var(--primary-dark-color);
  --ion-toolbar-segment-color: --primary-dark-color;
  --ion-toolbar-segment-background: --primary-dark-color;
  --ion-item-border-color: --primary-dark-color;
  --ion-item-color: var(--primary-dark-color);
  --ion-text-color-rgb: var(--primary-dark-color);
  --ion-backdrop-color: var(--primary-dark-color);
  --ion-overlay-background-color: var(--primary-dark-color);
  --ion-toolbar-segment-background-checked: var(--primary-dark-color);
  --ion-background-color: transparent;
  --ion-tab-bar-background: transparent;
  --ion-toolbar-background: transparent;
  --ion-item-background: transparent !important;
  --ion-item-backdrop: blur(3px) !important;


  --ion-color-primary: var(--primary-dark-color);
  --ion-color-primary-rgb: var(--primary-dark-color);
  --ion-color-primary-contrast: var(--primary-dark-color);
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: var(--primary-dark-color);
  --ion-color-primary-tint: var(--primary-dark-color);
}
  




// // ...existing code...
