<div class="card flex justify-center">
  <p-slider [(ngModel)]="value" styleClass="w-56" />
</div>
<div class="model-info">
  <div class="tab-buttons">
    <button pButton [ngClass]="{ 'active-tab': selectedTab() === 'parameters' }" (click)="setActiveTab('parameters')" label="Parameters"></button>
    <button pButton [ngClass]="{ 'active-tab': selectedTab() === 'parts' }" (click)="setActiveTab('parts')" label="Parts"></button>
  </div>

  <div class="tab-content">
    <!-- Parameters Tab -->
    <div *ngIf="selectedTab() === 'parameters' && modelParameters">
      <p-card header="Model Parameters ({{ modelParameters.count }})">
        <p-table [value]="parametersTableData()" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Min</th>
              <th>Max</th>
              <th>Default</th>
              <th>Current</th>
              <th>Control</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-param>
            <tr>
              <td>{{ param.id }}</td>
              <td>{{ param.min | number : '1.2-2' }}</td>
              <td>{{ param.max | number : '1.2-2' }}</td>
              <td>{{ param.default | number : '1.2-2' }}</td>
              <td>{{ param.current | number : '1.2-2' }}</td>
              <td>
                <div class="slider-container">
                  <p-slider
                    [(ngModel)]="param.value"
                    [min]="param.min"
                    [max]="param.max"
                    [step]="0.01"
                    styleClass="w-full"
                    (onSlideEnd)="onParameterChange(param)">
                  </p-slider>
                  <span class="slider-value">{{ param.value.toFixed(2) }}</span>
                </div>
              </td>
              <td>
                <button pButton icon="pi pi-refresh" class="p-button-sm p-button-outlined" (click)="resetParameter(param)" title="Reset to default"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>

    <!-- Parts Tab -->
    <div *ngIf="selectedTab() === 'parts' && modelParts">
      <p-card header="Model Parts ({{ modelParts.count }})">
        <p-table [value]="partsTableData()" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Opacity</th>
              <th>Parent Index</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-part>
            <tr>
              <td>{{ part.id }}</td>
              <td>{{ part.opacity }}</td>
              <td>{{ part.parentIndex }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>
</div>
