<h1>Bienvenido</h1>
<h2>Aquí verá tu progreso y novedades de la app</h2>

<p-button label="Start Tour" (click)="startTour()" />
<swiper-container id="swiper-1" paginator="true" space-between="30" slides-per-view="2.30">
  <swiper-slide>
    <p-card class="card-slider">
      <ng-template #header>
        <img alt="Card" class="w-full" src="assets/images/default-feature-1.jpg" />
      </ng-template>
      <ng-template #title> Advanced Card </ng-template>
      <ng-template #subtitle> Card subtitle </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero
        asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </p>
      <ng-template #footer>
        <div class="flex gap-4 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </swiper-slide>

  <swiper-slide>
    <p-card class="card-slider">
      <ng-template #header>
        <img alt="Card" class="w-full" src="assets/images/default-feature-2.jpg" />
      </ng-template>
      <ng-template #title> Advanced Card </ng-template>
      <ng-template #subtitle> Card subtitle </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero
        asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </p>
      <ng-template #footer>
        <div class="flex gap-4 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </swiper-slide>

  <swiper-slide>
    <p-card class="card-slider">
      <ng-template #header>
        <img alt="Card" class="w-full" src="assets/images/default-feature-3.jpg" />
      </ng-template>
      <ng-template #title> Advanced Card </ng-template>
      <ng-template #subtitle> Card subtitle </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero
        asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </p>
      <ng-template #footer>
        <div class="flex gap-4 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </swiper-slide>
</swiper-container>

<hr />

<div style="display: flex; gap: 10px">
  <p-button label="Primary" [rounded]="true" severity="primary" />
  <p-button label="Secondary" [rounded]="true" severity="secondary" />
  <p-button label="Success" [rounded]="true" severity="success" />
  <p-button label="Info" [rounded]="true" severity="info" />
  <p-button label="Warn" [rounded]="true" severity="warn" />
  <p-button label="Help" [rounded]="true" severity="help" />
  <p-button label="Danger" [rounded]="true" severity="danger" />
  <p-button label="Contrast" [rounded]="true" severity="contrast" />
</div>
