<p-button label="Start Tour" (click)="startTour()" />

<h1>Bienvenido</h1>

<div>{{ 'app.hello' | translate }}</div>

<h2>Aquí verá tu progreso y novedades de la app</h2>

<h1>Conversaciónes por practicar</h1>

<swiper-container #mainSwiper paginator="true" space-between="30" slides-per-view="2.30">
  @for (card of cards(); track $index) {
  <swiper-slide>
    <p-card class="card-slider">
      <ng-template #header>
        <img alt="Card" class="w-full" [src]="card.imageUrl" />
      </ng-template>
      <ng-template #title>{{ card.title }}</ng-template>
      <ng-template #subtitle>{{ card.subtitle }}</ng-template>
      <p>{{ card.content }}</p>
      <ng-template #footer>
        <div class="flex gap-4 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </swiper-slide>
  }
</swiper-container>

<hr />

<!-- <dc-agent-card-default-ui [agentCard]="dailyAgentCard()"></dc-agent-card-default-ui> -->

<div style="display: flex; justify-content: center">
  <div>
    <h1>La tarjeta del día</h1>
    <dc-agent-card-ui [card]="dailyAgentCard()" (onAction)="handleAction($event)"></dc-agent-card-ui>
  </div>
</div>

<h1>Lecciones Recomendadas</h1>

@if(lessons()){
<swiper-container
  paginator="true"
  space-between="30"
  slides-per-view="1.5"
  breakpoints='{"640": {"slidesPerView": 1.5}, "880": {"slidesPerView": 2.5}, "1320": {"slidesPerView": 3.4}}'>
  @for (lesson of lessons(); track lesson.id) {
  <swiper-slide style="padding: 10px">
    <dc-lesson-card [showOptions]="false" [lesson]="lesson" (onAction)="goToLesson($event)"></dc-lesson-card>
  </swiper-slide>
  }
</swiper-container>

} @else {
<p>No tienes lecciones pendientes</p>
}

<!-- @if(agentCards()){
<swiper-container
  paginator="true"
  space-between="30"
  slides-per-view="1.5"
  breakpoints='{"640": {"slidesPerView": 1.5}, "880": {"slidesPerView": 2.5}, "1320": {"slidesPerView": 3.4}}'>
  @for (agentCard of agentCards(); track agentCard.id) {
  <swiper-slide style="padding: 10px">
    <dc-agent-card-default-ui [agentCard]="agentCard"></dc-agent-card-default-ui>
  </swiper-slide>
  }
</swiper-container>

} @else {
<p>No tienes lecciones pendientes</p>
} -->
