@import "primeicons/primeicons.css";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


 @import "@ionic/angular/css/palettes/dark.class.css"; 

 body {
    position: relative;  // Required for pseudo-element positioning
 }

 body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/assets/pattern-randomized.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: float 40s ease-in-out infinite;
}

// Add dark mode specific styles
body.dark::before {
    background-image: url('/assets/pattern-randomized-dark2.svg');
}

@keyframes float {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


