@use "./shepherd.scss";
@use 'swiper/css/bundle';

@use 'tailwindcss';


// 1) Importing css libraries
@import "primeicons/primeicons.css";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import "@ionic/angular/css/palettes/dark.class.css"; 




// 2) defining addional variables
// check all variables https://ionicframework.com/docs/theming/themes

:root {
    // this will change general ionic settings
    --ion-background-color: transparent; // background apply for multiple ionic sections. 
    --ion-text-color: var(--p-slate-600); // general text: 
    --ion-backdrop-color: var(--p-zinc-100); // backdrop color, not sure where it aplies
    --ion-color-primary: var(--p-primary-color);
    --ion-backdrop-opacity: 0.6;
    --ion-overlay-background-color: var(--p-zinc-100);
    --ion-border-color: var(--p-primary-900);

    // NOTE: tab bar is the one at the bottom. 
    --ion-tab-bar-background: transparent;
    --ion-tab-bar-background-focused: var(--p-primary-50);
    --ion-tab-bar-color: var(--p-primary-color);
    --ion-tab-bar-color-selected: var(--p-teal-600) ;
    --ion-tab-bar-border-color: var(--p-primary-200);

    // NOTE: tool bar is the one at the top
    --ion-toolbar-background: transparent;
    --ion-toolbar-border-color: var(--p-primary-200);
    --ion-toolbar-color: var(--p-slate-800);
    --ion-toolbar-segment-color: var(--p-primary-color);
    --ion-toolbar-segment-background: var(--p-primary-color);

    // Note: items exists on menu, this will change the left menu bar. 
    --ion-item-border-color: var(--p-primary-100);
    --ion-item-color: var(--p-primary-color) ; // this is the text in menu left bar.
    --ion-text-color-rgb: var(--p-primary-color) ; // this control the icon not sure what other colors
    --ion-item-backdrop: blur(3px) ;
    --ion-item-background: transparent; /* Changed to red color */

    // Check if works is the side-width
    --side-width: 270px;
    --side-max-width: 300px;
  }
  

//  Dark theme
  :root.ion-palette-dark {
    --primary-dark-color: #4EF9BA;
    // --primary-dark-color: #74FAC9;  // You can change this hex color

    --ion-background-color: transparent; // background apply for multiple ionic sections. 
    --ion-text-color: var(--primary-dark-color); // general text: 
    --ion-backdrop-color: var(--primary-dark-color); // backdrop color, not sure where it aplies
    --ion-color-primary: var(--primary-dark-color);
    --ion-backdrop-opacity: 0.6;
    --ion-overlay-background-color: var(--primary-dark-color);
    --ion-border-color: var(--primary-dark-color);

    // NOTE: tab bar is the one at the bottom. 
    --ion-tab-bar-background-focused: var(--p-primary-50);
    --ion-tab-bar-color: var(--primary-dark-color);
    --ion-tab-bar-color-selected: var(--p-teal-200) ;
    --ion-tab-bar-border-color: var(--p-primary-200);
    --ion-tab-bar-background: transparent;

    // NOTE: tool bar is the one at the top
    --ion-toolbar-background: transparent;
    --ion-toolbar-border-color: var(--p-primary-200);
    --ion-toolbar-color: var(--primary-dark-color);
    --ion-toolbar-segment-color: var(--p-primary-color);
    --ion-toolbar-segment-background: var(--primary-dark-color);

    // Note: items exists on menu, this will change the left menu bar. 
    --ion-item-border-color: var(--primary-dark-color);
    --ion-item-color: var(--primary-dark-color) ; // this is the text in menu left bar.
    --ion-text-color-rgb: var(--primary-dark-color) ; // this control the icon not sure what other colors
    --ion-item-backdrop: blur(3px) ;
    --ion-item-background: transparent;
  }
  
  
// 3) Global styles and Overrides

/* Style for the menu only when in overlay mode (mobile view) */
@media (max-width: 992px) {
  /* Light theme (default) */
  ion-menu.menu-type-overlay ion-content {
    --background: var(--p-zinc-100) !important;
  }

  ion-menu.menu-type-overlay ion-footer {
    --background: var(--p-zinc-100) !important;
  }
  
  /* Dark theme */
  :root.ion-palette-dark ion-menu.menu-type-overlay ion-content {
    --background: var(--p-zinc-900) !important;
  }
  
  :root.ion-palette-dark ion-menu.menu-type-overlay ion-footer {
    --background: var(--p-zinc-900) !important;
  }
}

.sc-ion-label-md-h{
    font-size: 1.2rem ;
    font-weight: 500 ;
}

 body {
    position: relative;  // Required for pseudo-element positioning
 }

 body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/assets/pattern-randomized.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: float 40s ease-in-out infinite;
}

// Add dark mode specific styles
body.dark::before {
    background-image: url('/assets/pattern-randomized-dark2.svg');
}

@keyframes float {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.p-card{
    background: --var(--p-primary-color) !important;
    backdrop-filter: blur(1px);
    border: 1px solid #16012c;
    transition: all 0.3s ease;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3), 0 3px 2px var(--p-primary-900);
    margin: 4px;
    border-radius: 1px;
}

.p-card:hover {
    /* filter: drop-shadow(0 0 0.75rem rgb(0, 229, 255)); */
    filter: drop-shadow(-1px 1px 1px rgb(40, 1, 64));
    transform: translateY(-2px);
    transform: scale(1.01);
  }


  // Shepherd tour styles
